<!DOCTYPE html>
<html>
	{% include 'base_head.html.twig' %}
	{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/pages/connexion.css') }}">
	{% endblock %}
	{% block body %}
		<body>
			{% include "_components/_navbar.html.twig" %}
			<section class="container">
				<div class="row">
					<div class="col">
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Vous êtes déconnecter comme
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Me déconnecter</a>
								</div>
							{% endif %}

							<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>

							<div class="input-wrapper">
								<input type="email" placeholder="E-mail" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
								<svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 22 18" fill="none">
									<path d="M2.0625 0C0.923828 0 0 1.00781 0 2.25C0 2.95781 0.305078 3.62344 0.825 4.05L10.175 11.7C10.6648 12.0984 11.3352 12.0984 11.825 11.7L21.175 4.05C21.6949 3.62344 22 2.95781 22 2.25C22 1.00781 21.0762 0 19.9375 0H2.0625ZM0 5.25V15C0 16.6547 1.2332 18 2.75 18H19.25C20.7668 18 22 16.6547 22 15V5.25L12.65 12.9C11.6703 13.7016 10.3297 13.7016 9.35 12.9L0 5.25Z" fill="#E47610"/>
								</svg>
							</div>

							<div class="input-wrapper">
								<input type="password" placeholder="Mots de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
								<svg class="icon-two" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 21 21" fill="none">
									<path d="M6.5779 5.68954L6.56802 7.57828L13.8023 7.61611L13.8122 5.72737C13.8213 3.98815 12.21 2.57099 10.2115 2.56054C8.21303 2.55009 6.58699 3.95032 6.5779 5.68954ZM3.67431 7.56315L3.68419 5.67441C3.70055 2.54617 6.63014 0.0234208 10.2247 0.0422164C13.8192 0.061012 16.7222 2.61426 16.7059 5.7425L16.696 7.63124L17.4194 7.63503C19.0155 7.64337 20.3072 8.77947 20.3 10.1685L20.2605 17.7235C20.2532 19.1125 18.9497 20.235 17.3536 20.2267L2.88504 20.151C1.28898 20.1427 -0.00276062 19.0066 0.00450246 17.6175L0.044007 10.0626C0.0512701 8.67355 1.35482 7.55102 2.95089 7.55937L3.67431 7.56315Z" fill="#E47610"/>
								</svg>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<div class="remember-lost">
								<span>
									<input type="checkbox" id="horns" name="horns"/>
									<p class="remember">Remember me</p>
								</span>
								<span>
									<p class="psd-lost">
										<a href="#">Mots de passe oublié</a>
									</p>
								</span>
							</div>
							<button class="btn btn-lg" type="submit">Se connecter</button>
						</form>
					</div>
				</div>
			</section>
		</body>
	</html>
{% endblock %}
