<section id="services" class="services">
	<div class="headServices reveal fade-bottom">
		<h2 class="titleServices">
			Nos Services<span class="point">.</span>
		</h2>
		<p>Retrouver toute nos préstation au meilleurs prix.</p>
	</div>
	<!-- WRAPPER TOP -->
	<div class="wrapperServicesTop">
		{% for service in services %}
			{% if service.id == 7 %}
				<div class="largeServices reveal fade-bottomOne">
					<img class="soupape" src="{{ asset('css/assets/soupape.jpeg') }}" alt="Réglette de soupape">
					<div class="servicesOne">
						<h4>{{ service.nom }}
							:</h4>
						<div class="information">
							<p>{{ service.description }}</p>
						</div>
					</div>
				</div>
			{% elseif service.id == 8 %}
				<div class="splitServices">
					<div class="servicesTwo reveal fade-bottomTwo">
						<img class="huile" src="{{ asset('css/assets/huile.png') }}" alt="Huile moteur">
						<div class="information">
							<h4>{{ service.nom }}
								:</h4>
							<div class="paragraph">
								<p>{{ service.description }}</p>
							</div>
						</div>
					</div>
				{% elseif service.id == 9 %}
					<div class="servicesThree reveal fade-bottomThree">
						<img class="plaquette" src="{{ asset('css/assets/plaquette.png') }}" alt="Plaquette de frein">
						<div class="information">
							<h4>{{ service.nom }}
								:</h4>
							<div class="paragraph">
								<p>{{ service.description }}</p>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<!-- WRAPPER BOTTOM -->

	<div class="wrapperServicesBottom">
		{% for service in services %}
			{% if service.id == 10 %}
				<div class="splitServicesTwo">
					<div class="servicesFour reveal fade-bottomOne">
						<img class="courroie" src="{{ asset('css/assets/courroie.png') }}" alt="Courroie de distribution">
						<div class="information">
							<h4>{{ service.nom }}
								:</h4>
							<div class="paragraph">
								<p>{{ service.description }}</p>
							</div>
						</div>
					</div>
				{% elseif service.id == 11 %}
					<div class="servicesFive reveal fade-bottomTwo">
						<img class="suspension" src="{{ asset('css/assets/suspension.png') }}" alt="Amortisseurs">
						<div class="information">
							<h4>{{ service.nom }}
								:</h4>
							<div class="paragraph">
								<p>{{ service.description }}</p>
							</div>
						</div>
					</div>
				</div>
			{% elseif service.id == 12 %}
				<div class="largeServicesTwo reveal fade-bottomThree">
					<img class="batterie" src="{{ asset('css/assets/batterie.jpeg') }}" alt="Batterie">
					<div class="servicesSix">
						<h4>{{ service.nom }}
							:</h4>
						<div class="information">
							<p>{{ service.description }}</p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</section>
